:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

.ingredient-image {
  max-height: 50px;
  max-width: 50px;
  object-fit: contain;
}

.card-header {
  background-color: #dc3545;
  border-color: #dc3545;
}

.bg-danger {
  background-color: #dc3545!important;
}

.text-danger {
  color: #dc3545!important;
}

.summary {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  border-radius: 75%;
  box-shadow: 15px 15px 5px grey;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
